<nav class="navbar navbar-inverse" *ngIf="currentUser">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Home</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li><a class="nav-item nav-link" routerLink="/doctor" *ngIf="isDoctor">My Account</a></li>
                <li><a class="nav-item nav-link" routerLink="/doctor/caregivers" *ngIf="isDoctor">Caregivers</a></li>
                <li><a class="nav-item nav-link" routerLink="/doctor/patients" *ngIf="isDoctor">Patients</a></li>
                <li><a class="nav-item nav-link" routerLink="/doctor/medications" *ngIf="isDoctor">Medications</a></li>
                <li><a class="nav-item nav-link" routerLink="/caregiver" *ngIf="isCaregiver">My patients</a></li>
                <li><a class="nav-item nav-link" routerLink="/patient" *ngIf="isPatient">Patient</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right mr-auto">
                <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<ng-template appPlaceholder></ng-template>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>