<div class="modal-header" *ngIf="openInModal">
    <h4 class="modal-title pull-left">Medication plan for {{currentPatient.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <mat-form-field *ngIf="!openInModal">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z24">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id" class="mat-elevation-z24">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.medication.name}} </td>
            </ng-container>

            <!-- description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Indications </th>
                <td mat-cell *matCellDef="let row"> {{row.details}} </td>
            </ng-container>

            <!-- start time Column -->
            <ng-container matColumnDef="start date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
            </ng-container>

            <!-- edn d time Column -->
            <ng-container matColumnDef="end date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End date </th>
                <td mat-cell *matCellDef="let row"> {{row.endDate}} </td>
            </ng-container>

            <!-- actions Column -->
            <!--             
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let row">
                    <i class="glyphicon glyphicon-edit" style="cursor: pointer" (click)="onUpdateMedication(row)"></i>
                    |
                    <i class="glyphicon glyphicon-trash" (click)="onDeleteRow(row)" style="cursor: pointer"></i>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <hr>

    <!-- <div  *ngIf="openInModal">
        <button type="button" class="btn btn-default" (click)="onAddPatient()">Add medication</button>
    </div> -->
</div>