<div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="editPatient">Update patient</h4>
    <h4 class="modal-title pull-left" *ngIf="!editPatient">Add patient</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="isFormReady">
    <form [formGroup]="myGroup" (ngSubmit)="handleSubmit()">
        <div formGroupName="userData">
            <div class="form-group row">
                <label for="inputUsernamePatient" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsernamePatient" placeholder="username"
                        formControlName="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordPatient" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPasswordPatient" placeholder="password"
                        formControlName="password">
                </div>
            </div>
        </div>

        <div formGroupName="patientData">
            <div class="form-group row">
                <label for="inputNamePatient" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNamePatient" formControlName="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAddressPatient" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAddressPatient" formControlName="address">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputBirthDatePatient" class="col-sm-2 col-form-label">Birthdate</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputBirthDatePatient" formControlName="birthDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputGenderPatient" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputGenderPatient" formControlName="gender">
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputMedicalRecordPatient" class="col-sm-2 col-form-label">Medical record</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputMedicalRecordPatient" placeholder="medical record"
                        formControlName="medicalRecord">
                </div>
            </div>


            <div class="form-group row">
                <label for="selectCaregiver" class="col-sm-2 col-form-label">Caregiver</label>
                <div class="col-sm-10">
                    <select class="form-control" name="selectCaregiver" id="selectCaregiver"
                        formControlName="caregivers">
                        <option *ngFor="let caregiver of caregivers; let i = index" [value]="caregivers[i].id">
                            {{caregivers[i].name}}

                        </option>
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>

</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div> -->