<div>
    <h3>My medication plan</h3>
    <app-medication-plan [patient]="currentUserValue" *ngIf="readyToRender"></app-medication-plan>
    <hr style="border: 1px;">
    <!-- <h3>My patients</h3> -->
</div>