<div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="editCaregiver">Update caregiver</h4>
    <h4 class="modal-title pull-left" *ngIf="!editCaregiver">Add caregiver</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="isFormReady">
    <form [formGroup]="myGroup" (ngSubmit)="handleSubmit()">
        <div formGroupName="userData">
            <div class="form-group row">
                <label for="inputUsernameCaregiver" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsernameCaregiver" formControlName="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordPatient" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPasswordPatient" formControlName="password">
                </div>
            </div>
        </div>
        <div formGroupName="caregiverData">
            <div class="form-group row">
                <label for="inputNamePatient" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNamePatient" formControlName="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAddressPatient" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAddressPatient" formControlName="address">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputBirthDatePatient" class="col-sm-2 col-form-label">Birthdate</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputBirthDatePatient" formControlName="birthDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputGenderPatient" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputGenderPatient" aria-placeholder="M" formControlName="gender">
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="selectDoctor" class="col-sm-2 col-form-label">Doctor</label>
                <div class="col-sm-10">
                    <select class="form-control" name="selectDoctor" id="selectDoctor" formControlName="doctors">
                        <option *ngFor="let doctor of doctors; let i = index" [value]="doctors[i].id">
                            {{doctors[i].name}}

                        </option>
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>

</div>